#anchorPane{
    -fx-background-color: #f8f4e5;
}

.choice-box{
    -fx-background-color:  white;
    -fx-border-color: #bbb6ac;
}

.choice-box .label{
    -fx-text-fill: black;
}

.label{
    -fx-text-fill: black;
}

.label .text-field{
    -fx-border-color: #ffffff;
}

.button{
    -fx-text-fill: white;
    -fx-background-color: #354ed5;
    -fx-border-color: #081469;
    -fx-border-image-width: 3;
}