#anchorPane{
    -fx-background-color: #2f2f2f;
}

.text-field{
    -fx-background-color: red;
    -fx-text-fill: red;
}

#createNewEventText, #joinEventText, #recentEventsText{
    -fx-text-fill: #000000;
    -fx-background-color: red;
}

#splitty{
    -fx-text-fill: white;
}


.button{
    -fx-text-fill: white;
    -fx-background-color: #384bde;
    -fx-border-color: #081469;
    -fx-border-image-width: 3;
}

.menu-button{
    -fx-text-fill: white;
    -fx-background-color:  #384bde;
    -fx-border-color: #081469;
}


.choice-box, #tableView, #table, #expensesTabs,
#recentParticipants, .text-field, #recentEvents{
    -fx-background-color: #595858;
    -fx-border-color: #2f2f2f;
}

.table-view .label, .choice-box .label, .label
#lightModeButton .label, #darkModeButton .label,
#englishButton .label, #dutchButton .label{
    -fx-text-fill: #2f2f2f;
}


.label .text-field{
    -fx-text-fill: white;
    -fx-border-color: #ffffff;
}


.table-view .cell{
    -fx-background-color: #595858;
}

.tool-bar{
    -fx-background-color: #2f2f2f;
}


#from, #to {
    -fx-font-weight: bold;
}

.menu-button .label{
    -fx-text-fill: white;

}

