#anchorPane{
    -fx-background-color: #f8f4e5;
}


.label{
    -fx-text-fill: black;
}
.label .text-field{
    -fx-border-color: #ffffff;
}

.button{
    -fx-text-fill: white;
    -fx-background-color: #354ed5;
    -fx-border-color: #081469;
    -fx-border-image-width: 3;
}

#lightModeButton .label, #darkModeButton .label,
#englishButton .label, #dutchButton .label, #turkishButton .label{
    -fx-text-fill: black;
}

.menu-button{
    -fx-text-fill: black;
    -fx-background-color: #354ed5;
    -fx-border-color: #081469;
}

.menu-button .label{
    -fx-text-fill: white;

}
